html {
}

.sticky-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(40px);
}

.navtop {
  height: 1em;
}

.navmid {
  max-height: 7em;
  height: 7em;
}

.navbot {
  max-height: 2em;
  height: 1em;
}

.openedStyle {
  max-height: "100%";
  opacity: "100%";
  transition: max-height 0.5s, opacity 0.3s 0.2s;
}

.closedStyle {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.7s, opacity 0.3s 0.2s;
}
