html {
}

.midnavdiv {
  width: 72.5%;
}

.sticky-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(40px);
}

.navtop {
  height: 1em;
}

.navmid {
  max-height: 8em;
  height: 8em;
}

.navbot {
  max-height: 2em;
  height: 1em;
}

.excardmid {
  max-height: 6em;
  height: 6em;
}

.openedStyle {
  max-height: "100%";
  opacity: "100%";
  transition: max-height 0.5s, opacity 0.3s 0.2s;
}

.closedStyle {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.7s, opacity 0.3s;
}

.norotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.rotatearrow {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
