/*==================================================
 * ROOT STYLINGS
 * ===============================================*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  box-sizing: border-box;
  font-family: "Inter";
}

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

html,
body,
main {
  padding: 0;
  margin: 0;
  min-width: 300px;
}

.ZRoot {
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gutterWidth: 16px;
  --scrollbarWidth: 0px;
  --windowWidth: calc(100vw - var(--scrollbarWidth));
  --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --layoutWidthMax: 1148px;
  --columnCountMax: 1;
  --heroColumnCount: 1;
  --h1FontSize: 2.5rem;
  --h2FontSize: 1.5rem;
  --h3FontSize: 1.2rem;
}

@media (min-width: 600px) {
  .ZRoot {
    --columnCountMax: 2;
  }
}
@media (min-width: 900px) {
  .ZRoot {
    --columnCountMax: 4;
    --heroColumnCount: 2;
    --h1FontSize: 3rem;
    --h2FontSize: 2rem;
  }
}
@media (min-width: 1180px) {
  .ZRoot {
    --layoutWidth: calc(var(--layoutWidthMax));
    --gutterWidth: calc(var(--windowWidth) / 2 - var(--layoutWidth) / 2);
    --h1FontSize: 3.25rem;
    --h2FontSize: 2.25rem;
  }
}

/*==================================================
 * HEADER
 * ===============================================*/

.ZHeader--Container {
  padding-top: 20;
  position: relative;
  z-index: 1;
  width: var(--windowWidth);
  margin: 0;
}

.ZfFont {
  height: 2rem;
}

.ZHeader {
  display: grid;
  grid: auto / max-content 1fr min-content;
  width: var(--layoutWidth);
  height: 40px;
  margin: 24px auto 0;
  align-items: start;
}

.ZHeader--DesktopNav {
  display: none;
  justify-content: center;
  align-items: start;
}

.DesktopNav--Item {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.ZHeader--Contact {
  display: none;
  grid-row: 1;
  grid-column: 3;
}

.ZHeader--Hamburg {
  grid-row: 1;
  grid-column: 3;
  height: 1.25rem;
  border: none;
  background-color: white;
  margin-right: 8px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  align-self: start;
}

/* Mobile Pop-up header */

.ZMobileMenu {
  z-index: 0;
  width: calc(var(--layoutWidth));
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 40vh;
  opacity: 0%;
}

.ZMM--Header {
  z-index: 100;
  display: grid;
  min-width: 300px;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 0.75fr 1fr 1fr 1fr 1.5fr;
  background-color: #e6e6e6;
  max-width: var(--layoutWidth);
  max-height: 200px;
  margin: 0 auto;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 5px 30px rgba(0, 0, 0, 0.03);
}

.ZMM--Close {
  grid-column: 3;
  justify-self: center;
  align-self: end;
  width: 50%;
}

.ZMM--Services {
  grid-row: 2;
  grid-column: 2;
  place-self: center;
}

.ZMM--Process {
  grid-row: 3;
  grid-column: 2;
  place-self: center;
}

.ZMM--Works {
  grid-row: 4;
  grid-column: 2;
  place-self: center;
}

/* Responsive Header Commands */

@media (min-width: 900px) {
  .ZHeader--DesktopNav {
    display: flex;
  }
  .ZHeader--Contact {
    display: block;
  }
  .ZHeader--Hamburg {
    display: none;
  }
  .ZMobileMenu {
    display: none;
  }
}

/*==================================================
 * BODY
 * ===============================================*/

/* Hero Section */

.ZHero--Container {
  width: var(--windowWidth);
}

.ZHero--Grid {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  width: var(--layoutWidth);
  display: grid;
  grid-template-columns: repeat(var(--heroColumnCount), 1fr);
  column-gap: 32px;
}

.ZHero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ZHero--Text--Container {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 32px;
  align-self: start;
  grid-template-rows: repeat(3, max-content);
}

.ZHero--Supertext {
  margin: 0;
  font-weight: 100;
  font-size: var(--h1FontSize);
}

.ZHero--Subtext {
  max-width: calc(1.5 * var(--layoutWidthMax) / 3);
}

.ZHero--ButtonBox {
  display: flex;
}

.ZH--BB--Works {
  font-size: var(--h3FontSize);
  margin-right: 30px;
}

.ZH--BB--Contact {
  font-size: var(--h3FontSize);
}

@media (min-width: 900px) {
  .ZHero--Grid {
    margin-top: 50px;
  }
  .ZHero--Text--Container {
    order: -1;
  }
}

/* What Section */

.ZWhat--Container {
  width: var(--windowWidth);
  background-color: #e6e6ff;
}

.ZWhat--Grid {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: var(--layoutWidth);
  display: grid;
  grid-template-columns: repeat(var(--heroColumnCount), 1fr);
  column-gap: 32px;
}

.ZWhat {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ZWhat--Text--Container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 32px;
  width: 100%;
  height: 100%;
}

.ZWhat--Heading {
  font-size: var(--h2FontSize);
  margin-top: 100px;
}

.ZWhat--Body {
}

@media (min-width: 900px) {
  .ZWhat--Grid {
    padding-top: 50px;
  }
}

/* How Section */

.ZHow--Container {
  width: var(--windowWidth);
}

.ZHow--Grid {
  margin: 0 auto;
  width: var(--layoutWidth);
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

.ZHow--Text--Container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 32px;
  width: 100%;
  height: 100%;
}

.ZHow--Heading {
  font-size: var(--h2FontSize);
  margin-top: 100px;
}

.ZHow--Subheading {
  font-size: var(--h3FontSize);
}

.ZHow--Subgrid {
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  row-gap: 32px;
  column-gap: 48px;
  grid-template-columns: repeat(var(--columnCountMax), 1fr);
}

.ZHow--SG--h {
}

.ZHow--SG--p {
  margin-top: 16px;
}

/* Works Section */

.ZWorks--Container {
  width: var(--windowWidth);
  overflow: hidden;
}

.ZWorks--Grid {
  display: grid;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 100px;
  row-gap: 16px;
  column-gap: 16px;
  width: var(--layoutWidth);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content max-content;
}

.Work--Logos {
}

.Work--Phone {
}

.Work--Browser {
  grid-column-start: span 2;
}

.Work--Icons {
  grid-column-start: span 2;
  background-color: lightgray;
}

@media (min-width: 600px) {
  .Work--Logos {
    order: -1;
  }
  .ZWorks--Grid {
    margin: 0;
    margin-left: var(--gutterWidth);
    margin-top: 100px;
    width: var(--layoutWidthMax);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 0.5fr 0.5fr;
  }
  .Work--Browser {
    grid-area: 1 / 2 / span 3 / span 4;
  }
  .Work--Phone {
    grid-area: 2 / 1 / span 2 / span 1;
    z-index: 2;
  }
  .Work--Icons {
  }
}
